<div class="membership">
  <div class="membership-wrapper">
    <h2>GLOBAL KOMUNIKA MEMBERSHIP</h2>
    <h3>How to Earn Points?</h3>
    <p>For every IDR 1,000 spent on your purchase, you will earn 1 point. This means that every time you make a purchase, the amount you spend directly translates into points that accumulate in your account.</p>
    <ul>
      Example
      <li>If you spend IDR 10,000 on a purchase, you will earn 10 points.</li>
      <li>If you spend IDR 50,000, you will earn 50 points.</li>
      <li>If you spend IDR 100,000, you will earn 100 points</li>
    </ul>
    <body class="c11 doc-content">
    <h1 class="c9 c10" id="h.8g0eht8zww5g"><span class="c12">GLOBAL KOMUNIKA MEMBERSHIP</span></h1>
    <h2 class="c9 c14" id="h.u3ewmdxbprm9"><span class="c7">How to Earn Points?</span></h2>
    <ol class="c3 lst-kix_lxx37dmpc6yq-0 start" start="1">
      <li class="c9 c15 li-bullet-0">
        <h3 id="h.v6mxtjqlo54s" style="display:inline"><span class="c13">Earning Points from Purchases</span></h3>
      </li>
    </ol>
    <p class="c5"><span>For every </span><span class="c6">IDR 1,000</span><span>&nbsp;spent on your purchase, you will earn </span><span class="c6">1 point</span><span class="c1">. This means that every time you make a purchase, the amount you spend directly translates into points that accumulate in your account.</span></p>
    <h4 class="c0" id="h.lq8ilda9q7tv"><span class="c4">Example:</span></h4>
    <ul class="c3 lst-kix_zbg0o811rvu4-0 start">
      <li class="c2 li-bullet-0"><span class="c1">If you spend IDR 10,000 on a purchase, you will earn 10 points.</span></li>
      <li class="c2 li-bullet-0"><span class="c1">If you spend IDR 50,000, you will earn 50 points.</span></li>
      <li class="c2 li-bullet-0"><span class="c1">If you spend IDR 100,000, you will earn 100 points.</span></li>
    </ul>
    <p class="c5"><span class="c1">The points are automatically calculated and added to your account, so you don&#39;t need to do anything extra after making a purchase. The more you spend, the more points you will earn, which will increase your future discount opportunities.</span></p>
    <ol class="c3 lst-kix_lxx37dmpc6yq-0" start="2">
      <li class="c2 c9 li-bullet-0">
        <h3 id="h.r71jevkxxryc" style="display:inline"><span class="c13">Earning Points by Following Our Instagram</span></h3>
      </li>
    </ol>
    <p class="c5"><span>As part of the rewards system, you can also earn points by engaging with our brand on social media. Specifically, by following our </span><span>Instagram account (@global.komunika)</span><span>, you will receive a </span><span class="c6">bonus of 150 points</span><span class="c1">.</span></p>
    <p class="c5"><span>This means that once you follow us, you immediately get </span><span class="c6">150 points</span><span class="c1">&nbsp;added to your account, which is a nice way to start earning rewards without even making a purchase!</span></p>
    <ol class="c3 lst-kix_lxx37dmpc6yq-0" start="3">
      <li class="c15 c9 li-bullet-0">
        <h3 id="h.3wm6q48xgj0k" style="display:inline"><span class="c13">Earning Points by Reviewing Products</span></h3>
      </li>
    </ol>
    <p class="c8"><span>We encourage customers to share their experiences with our products. After purchasing any product, you have the option to leave a </span><span>review</span><span>. By doing so, you will earn an additional </span><span class="c6">150 points</span><span class="c1">&nbsp;as a reward.</span></p>
    <h4 class="c0" id="h.59939vqpzfw3"><span class="c4">Example:</span></h4>
    <ul class="c3 lst-kix_z8lyp5x33dnp-0 start">
      <li class="c2 li-bullet-0"><span class="c1">You purchase an eSIM and leave a review on our website.</span></li>
      <li class="c2 li-bullet-0"><span>Once your review is posted, you will earn </span><span class="c6">150 points</span><span class="c1">&nbsp;for sharing your feedback.</span></li>
    </ul>
    <p class="c5"><span>This helps us improve our products and services while rewarding you for your time and insights.</span>
    <hr style="page-break-before:always;display:none;">
    </p>
    <h2 class="c5 c9" id="h.1g5q6kzhf7pi"><span class="c7">How to Redeem Points?</span></h2>
    <p class="c5"><span class="c1">Now that you have accumulated points, the next step is to redeem them for discounts on future purchases. Here&rsquo;s how it works:</span></p>
    <ul class="c3 lst-kix_xmh75vd3b5gr-0 start">
      <li class="c2 li-bullet-0"><span class="c6">For every 100 points</span><span>, you can redeem a </span><span class="c6">discount of IDR 2,000</span><span class="c1">&nbsp;on your next purchase.</span></li>
      <li class="c2 li-bullet-0"><span class="c1">You can redeem points in multiples. This means that if you accumulate more than 100 points, you can redeem them for a larger discount.</span></li>
    </ul>
    <h4 class="c0" id="h.5io9md1l1e0q"><span class="c4">Example of Redeeming Points:</span></h4>
    <ul class="c3 lst-kix_5ngc5q79qwtm-0 start">
      <li class="c2 li-bullet-0"><span class="c1">100 points = IDR 2,000 discount</span></li>
      <li class="c2 li-bullet-0"><span class="c1">200 points = IDR 4,000 discount</span></li>
      <li class="c2 li-bullet-0"><span class="c1">500 points = IDR 10,000 discount</span></li>
    </ul>
    <p class="c5"><span>So, if you have </span><span class="c6">500 points</span><span>, you can redeem those points for a </span><span class="c6">discount of IDR 10,000</span><span>&nbsp;on your next purchase. The more points you collect, the higher the discount you can get!</span>
    <hr style="page-break-before:always;display:none;">
    </p>
    <h2 class="c5 c9" id="h.fprat0l6d4ch"><span class="c7">How Can I Access My Points?</span></h2>
    <p class="c5"><span>Once you&rsquo;ve signed up for the membership program, you will have a user account on our website. All your points will be stored and updated in real-time under your account profile. Here&rsquo;s how to access them:</span></p>
    <p class="c5"><span class="c1">1. Visit our official website (gkomunika.com) and click on the profile logo</span></p>
    <p class="c5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 278.09px; height: 233.23px;"><img alt="" src="images/image3.jpg" style="width: 278.09px; height: 233.23px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c5"><span class="c1">2. To access your points, you need to log into your account. If you don&rsquo;t have one yet, you will need to register first and create a profile.</span></p>
    <p class="c5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 279.56px; height: 234.60px;"><img alt="" src="images/image2.jpg" style="width: 279.56px; height: 234.60px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c5"><span class="c1">3. Once you&rsquo;ve successfully logged in, you&rsquo;ll be directed to your personal order history. Here, you&#39;ll find different sections that allow you to manage your information and rewards. To access your points, you&#39;ll need to locate the &ldquo;Rewards&rdquo; section in the bottom right corner.</span></p>
    <p class="c5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 259.50px; height: 218.02px;"><img alt="" src="images/image1.jpg" style="width: 259.50px; height: 218.02px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c5"><span class="c1">4. Once you&rsquo;re in the &ldquo;Rewards&rdquo; section, you&rsquo;ll be able to view the total number of points you&#39;ve accumulated so far.</span></p>
    <p class="c5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 261.75px; height: 219.07px;"><img alt="" src="images/image4.jpg" style="width: 261.75px; height: 219.07px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c5"><span class="c1">The points you&rsquo;ve earned will typically be displayed in a large font at the top of the section. It might show &ldquo;Your Balance&rdquo; with the accumulated points under it.</span></p>
  </body>
    </div>
</div>