<div class="membership">
  <h2 class="membership__heading">GLOBAL KOMUNIKA MEMBERSHIP</h2>
  <h3 class="membership__sub-heading">How to Earn Points?</h3>
  <p>
    For every IDR 1,000 spent on your purchase, you will earn 1 point. This means that every time you make a purchase, the amount you spend directly translates into points that accumulate in your account.
  </p>
  <h4 >Example:</h4>
</div>


<div>
  <h2>GLOBAL KOMUNIKA MEMBERSHIP</h2>

  <h3>How to Earn Points?</h3>
  <p>
    For every IDR 1,000 spent on your purchase, you will earn 1 point. This means that every time you make a purchase, the amount you spend directly translates into points that accumulate in your account.
  </p>

  <h4>Example:</h4>
  <ul>
    <li>If you spend IDR 10,000 on a purchase, you will earn 10 points.</li>
    <li>If you spend IDR 50,000, you will earn 50 points.</li>
    <li>If you spend IDR 100,000, you will earn 100 points.</li>
  </ul>

  <ol>
    <li>
      <h3>Earning Points from Purchases</h3>
      <p>
        For every IDR 1,000 spent on your purchase, you will earn 1 point. This means that every time you make a purchase, the amount you spend directly translates into points that accumulate in your account.
      </p>
    </li>

    <li>
      <h3>Earning Points by Following Our Instagram</h3>
      <p>
        As part of the rewards system, you can also earn points by engaging with our brand on social media. Specifically, by following our Instagram account (@global.komunika), you will receive a bonus of 150 points.
      </p>
      <p>
        This means that once you follow us, you immediately get 150 points added to your account, which is a nice way to start earning rewards without even making a purchase!
      </p>
    </li>

    <li>
      <h3>Earning Points by Reviewing Products</h3>
      <p>
        We encourage customers to share their experiences with our products. After purchasing any product, you have the option to leave a review. By doing so, you will earn an additional 150 points as a reward.
      </p>

      <h4>Example:</h4>
      <ul>
        <li>You purchase an eSIM and leave a review on our website.</li>
        <li>Once your review is posted, you will earn 150 points for sharing your feedback.</li>
      </ul>

      <p>
        This helps us improve our products and services while rewarding you for your time and insights.
      </p>
    </li>
  </ol>

  <h3>How to Redeem Points?</h3>
  <p>
    Now that you have accumulated points, the next step is to redeem them for discounts on future purchases. Here’s how it works:
  </p>
  <ul>
    <li>For every 100 points, you can redeem a discount of IDR 2,000 on your next purchase.</li>
    <li>You can redeem points in multiples. This means that if you accumulate more than 100 points, you can redeem them for a larger discount.</li>
  </ul>

  <h4>Example of Redeeming Points:</h4>
  <ul>
    <li>100 points = IDR 2,000 discount</li>
    <li>200 points = IDR 4,000 discount</li>
    <li>500 points = IDR 10,000 discount</li>
  </ul>
  <p>
    So, if you have 500 points, you can redeem those points for a discount of IDR 10,000 on your next purchase. The more points you collect, the higher the discount you can get!
  </p>

  <h3>How Can I Access My Points?</h3>
  <p>
    Once you’ve signed up for the membership program, you will have a user account on our website. All your points will be stored and updated in real-time under your account profile. Here’s how to access them:
  </p>
  <ol>
    <li>Visit our official website (gkomunika.com) and click on the profile logo</li>
    <li><img src="images/image3.jpg" alt="Step 1 screenshot" width="278" height="233"></li>

    <li>Log into your account. If you don’t have one yet, register and create a profile.</li>
    <li><img src="images/image2.jpg" alt="Step 2 screenshot" width="280" height="235"></li>

    <li>After logging in, go to your personal order history. Locate the “Rewards” section in the bottom right corner.</li>
    <li><img src="images/image1.jpg" alt="Rewards section" width="260" height="218"></li>

    <li>Inside the “Rewards” section, you’ll be able to view the total number of points you’ve accumulated so far.</li>
    <li><img src="images/image4.jpg" alt="Points balance screenshot" width="262" height="219"></li>
  </ol>
  <p>
    The points you’ve earned will typically be displayed in a large font at the top of the section. It might show “Your Balance” with the accumulated points under it.
  </p>
</div>
